/*GENERAL*/
body{
    width:99%;
    font-family:'Raleway', sans-serif;
    color: #000000;

}

body h5{
    font-size:1.1rem;
}

body p {
    font-size:1rem;
}

.container_menu, .container_filter, .container_hebergement_populaire, .container_activities, .container_footer{
    display: flex;
}

nav a{
    margin-right:30px;
    font-family: 'Raleway',sans-serif;
    text-decoration:none;
    color:gray;
}

/*menu*/
.nav a{
    display:flex;
    justify-content:flex-end;
}
nav a:active{
    margin-right:30px;
    color:#0065FC;
}
nav a:hover{
    color:#0065FC;
}
nav a:focus{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

#navigation{
    display: flex;
    justify-content: space-between;
}
.container_menu{
    justify-content: space-between;
}

#logo{
    justify-content: flex-start;
}

#bouton{
    display:flex;
}

#menu{
    display: flex;
}

#bouton a{
    text-decoration:none;
}
#bouton a:hover{
    color:gray;
}

/*header*/
#titre1 h2 {
    margin:0 0 20px 10px;
    }
    
#titre2 p{
    margin:10px 0 20px 10px;
    }

/*stars*/
.notchecked{
    color:#F2F2F2;
}
.checked{
    color:#0065FC;
}

/*Searchbar*/
#recherche{
    padding-bottom:30px;
    padding-left:10px;
    display:flex;
    justify-content:left;
    }
#recherche button{
    background-color:#0065FC;
    border-width:1px 1px 1px 0;
    border-color: #0065FC;
    color:#fff;
    border-radius:0px 10px 10px 0px;
    }

#recherche input{
    border-width:1px 0 1px 0;
    border-color:#F2F2F2;
    padding:0px;
    height:30px;
    padding-left:10px;
    font-weight: bold;
    }

#recherche .fas.fa-map-marker-alt{
    width:40px;
    background-color:#F2F2F2;
    border-radius:10px 0px 0px 10px;
    padding:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    }
#section_filter{
    justify-content:space-around;
    width:70%;
    display:flex;
}
.container_filter{
    justify-content:space-around;
    display:flex;
    width:70%;
}

.container_filter p{
    display:flex;
    align-items:center;
    border:1px solid black;
}

#section_filter p{
    display:flex;
}

.container_filter .fas{
    border: solid 1px#DEEBFF;
    background-color:#DEEBFF;
    width:30px;
    height:30px;
    border-radius:50%;
    padding:0px;
    align-items: center;
}

#section_filter i{
    color:#0065FC;
    margin-right:5px;
    text-align:center;
}

.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog{
    display:flex;
    justify-content:center;
}

#info i{
    color:#0065FC;
    margin-right:10px;
}

.container_hebergement_populaire{
    justify-content: space-around;
    width:100%;
}

.article{
    display:flex;
    justify-content:left;
}

.aside{
    display:flex;
    justify-content:right;
}

/*Marseille*/
.fond_hebergement{
    background-color:#F2F2F2;
    border-radius:20px;
    width:62%;
}

#marseille{
    flex-wrap:wrap;
    justify-content: space-around;
    display:flex;
    height:500px;
}

#marseille .cadre{
border: solid 5px white;
background-color: #fff;
border-radius: 20px;
padding: 0px;
box-shadow: 5px 5px 5px lightgrey;
display:flex;
flex-direction:column;
height:40%;
width:30%;
}

.cadre_cannebiere{
    background-image:url("./img/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size:cover;
    background-position:center;
    height:50%;
    border-radius: 10px 10px 0px 0px;
}
.cadre_port{
    background-image:url("./img/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size:cover;
    background-position:center;
    height:50%;
    border-radius: 10px 10px 0px 0px;
}

.cadre_mouettes{
    background-image:url("./img/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size:cover;
    background-position:center;
    height:50%;
    border-radius: 10px 10px 0px 0px;
}

.cadre_mer{
    background-image:url("./img/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size:cover;
    background-position:center;
    height:50%;
    border-radius: 10px 10px 0px 0px;
}

.cadre_panier{
    background-image:url("./img/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size:cover;
    background-position:center;
    height:50%;
    border-radius: 10px 10px 0px 0px;
}

.cadre_amina{
    background-image:url("./img/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size:cover;
    background-position:center;
    height:50%;
    border-radius: 10px 10px 0px 0px;
}

.cadre_texte{
    height:50%;
    display:flex;
    justify-content: space-around;
    flex-direction:column;
}

.cadre_texte h5{
    margin:0;
}

.cadre_texte p{
    margin:0;
}

#marseille .cadre img {
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin-left: 2px;
    width:100%!important;
    object-fit:cover;
}

#marseille p{
    font-size:0.9rem;
}

#marseille h5{
    font-size:1.1rem;
}
#populaires_parent{
    background-color:#F2F2F2;
    border-radius:20px;
    width:32%;
    display:flex;
    justify-content:center;
}

#populaires{
    width:85%;

}

.texte{
    width:65%;
}

.cadre_populaires{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#populaires h2{
    display:flex;
    justify-content:space-between;
}
#populaires .cadrelong {
    border: solid 4px white;
    width:95%;
    background-color:#fff;
    border-radius:10px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px lightgray;
    display:flex;
    justify-content:space-between;
}

#populaires .cadrelong img{
    width:150px;
    height:100%;
    object-fit:contain;

}

.cadre_soleil{
    background-image:url("./img/emile-guillemot-Bj_rcSC5XfE-unsplash_400x355.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 0px 0px 10px;
    width:30%;
}
.cadre_hote{
    background-image:url("./img/aw-creative-VGs8z60yT2c-unsplash_400x378.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 0px 0px 10px;
    width:30%;
}

.cadre_hotel_bleu{
    background-image:url("./img/febrian-zakaria-sjvU0THccQA-unsplash_493x501.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 0px 0px 10px;
    width:30%;
}
/*Activites*/
#section_activities{
    width:98%;
}
.container_activities{
    display: flex;
    flex-wrap:wrap;
    width:100%;
}
.container_activities div{
    margin-right:1%;
}

.cadre_vieux_port{
    background-image:url("./img/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    height:450px;
}

.parent_cadre{
    box-shadow: 5px 3px 5px  grey; 
    border-radius: 10px 10px 0px 0px;
}

.cadre_fort_pomegues{
    height:500px;
    width:24%;
}

.cadre_garde_parc{
    height:500px;
    width:24%;
    margin-right:0px !important;
}

.pomegues{
    height:200px;
    background-image:url("./img/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.frioul{
    height:200px;
    background-image:url("./img/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.cadre_calanques{
    background-image:url("./img/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    height:450px;
}

.cadre_activities{
    width:24%;
    background-color:white;
    height:500px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 3px 5px  grey; 
}
.notre_dame{
    background-image:url("./img/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height:200px;
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.longchamp{
    background-image:url("./img/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height:200px;
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;

}

/*footer*/
.container_footer{
    display:flex;
    justify-content:space-around;
}

footer{
    background-color:#F2F2F2;
    line-height: 40px;
}
#footer a{
    color:#212529;
    text-decoration:none;
}

#footer ul li{
    list-style-type: none;
    text-decoration:none;
}

#footer ul{
    padding:0px;
}


    @media only screen and (min-width: 769px) {
        #loupe{
            display:none;
        }
    }
    @media only screen and (max-width: 769px) {
        #search{
            display:none;
        }
    }











