/*GENERAL*/
body{
    width:99%;
    font-family:'Raleway', sans-serif;
    color: #000000;

}

body h5{
    font-size:1.1rem;
}

body p {
    font-size:1rem;
}

.container_menu, .container_filter, .container_hebergement_populaire, .container_activities, .container_footer{
    display: flex;
}

nav a{
    margin-right:30px;
    font-family: 'Raleway',sans-serif;
    text-decoration:none;
    color:gray;
}

a{
    text-decoration:none;
}

/*menu*/
.nav a{
    display:flex;
    justify-content:flex-end;
}
nav a:active{
    margin-right:30px;
    color:#0065FC;
}
nav a:hover{
    color:#0065FC;
}
nav a:focus{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

#navigation{
    display: flex;
    justify-content: space-between;
    margin-right:1%;
    align-items: center;
}
.container_menu{
    justify-content: space-between;
}

#logo{
    justify-content: flex-start;
    margin-left:1%;
}

#bouton{
    display:flex;
    margin-right:0%;
}

#menu{
    display: flex;
    width:100%;
}

#bouton a{
    text-decoration:none;
}
#bouton a:hover{
    color:gray;
}

/*header*/
#titre1 h2 {
    margin-left:1%;
    }
    
#titre2 p{
    margin-left:1%;
    }

/*stars*/
.notchecked{
    color:#F2F2F2;
}
.checked{
    color:#0065FC;
}

/*Searchbar*/
#recherche{
    padding-bottom:30px;
    padding-left:10px;
    display:flex;
    justify-content:left;
    }
#recherche button{
    background-color:#0065FC;
    border-width:1px 1px 1px 0;
    border-color: #0065FC;
    color:#fff;
    width:7%;
    border-radius:0px 10px 10px 0px;
    font-size:1rem;
    }

#recherche input{
    border-width:1px 0 1px 0;
    border-color:#F2F2F2;
    padding:0px;
    height:35px;
    padding-left:10px;
    font-weight: bold;
    font-size:1rem;
    }

#recherche .fas.fa-map-marker-alt{
    width:40px;
    background-color:#F2F2F2;
    border-radius:10px 0px 0px 10px;
    padding:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    }
#section_filter{
    justify-content:space-around;
    width:60%;
    display:flex;
}
.container_filter{
    justify-content:space-around;
    display:flex;
    width:70%;
}

.container_filter p{
    display:flex;
    align-items:center;
    border: 0.12rem solid;
    border-color:lightgray lightgray lightgray #DEEBFF;
    border-radius:30px;
}

#section_filter p{
    display:flex;
    align-items:center;
    padding-right:1%;
}

#section_filter p:hover{
    opacity:50%;
}

.container_filter .fas{
    border: solid 1px#DEEBFF;
    background-color:#DEEBFF;
    width:30px;
    height:30px;
    border-radius:50%;
    padding:0px;
    align-items: center;
}

#section_filter i{
    color:#0065FC;
    margin-right:5px;
    text-align:center;
}

.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog{
    display:flex;
    justify-content:center;
}

#info i{
    color:#0065FC;
    margin-right:10px;
    margin-left:1%;
}

.container_hebergement_populaire{
    justify-content: space-around;
    width:100%;
}

.article{
    display:flex;
    justify-content:left;
}

.aside{
    display:flex;
    justify-content:right;
}

/*Marseille*/
.fond_hebergement{
    background-color:#F2F2F2;
    border-radius:20px;
    width:62%;
    display:flex;
    flex-wrap:wrap;
    padding:1.5%;
}

.fond_hebergement h2{
    margin-left:2%;
}

.learnmore {
    padding-left:2%
}

#marseille{
    flex-wrap:wrap;
    justify-content: space-around;
    display:flex;
    height:500px;
}

#marseille .cadre{
border: solid 5px white;
background-color: #fff;
border-radius: 20px;
padding: 0px;
box-shadow: 5px 5px 5px lightgrey;
display:flex;
flex-direction:column;
height:40%;
width:30%;
}

.cadre_image {
    /*background-image:url("./img/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size:cover;
    background-position:center;
    
    border-radius: 10px 10px 0px 0px;*/
    height:50%;
    
}

.cadre_image img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.cadre_texte{
    height:50%;
    display:flex;
    justify-content: space-around;
    flex-direction:column;
}

.cadre_texte h5{
    margin:0;
}

.cadre_texte p{
    margin:0;
}

#marseille .cadre img {
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    margin-left: 2px;
    width:100%!important;
    object-fit:cover;
}

#marseille p{
    font-size:0.9rem;
}

#marseille h5{
    font-size:1.1rem;
}
#populaires_parent{
    background-color:#F2F2F2;
    border-radius:20px;
    width:32%;
    display:flex;
    justify-content:center;
}

#populaires{
    width:85%;

}

.texte{
    width:65%;
}

.cadre_populaires{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#populaires h2{
    display:flex;
    justify-content:space-between;
}
#populaires .cadrelong {
    border: solid 4px white;
    width:95%;
    background-color:#fff;
    border-radius:10px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px lightgray;
    display:flex;
    justify-content:space-between;
    margin-bottom:8%;
}

#populaires .cadrelong img{
    width:150px;
    height:100%;
    object-fit:contain;

}

.cadre_soleil{
    background-image:url("./img/emile-guillemot-Bj_rcSC5XfE-unsplash_400x355.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 0px 0px 10px;
    width:30%;
}
.cadre_hote{
    background-image:url("./img/aw-creative-VGs8z60yT2c-unsplash_400x378.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 0px 0px 10px;
    width:30%;
}

.cadre_hotel_bleu{
    background-image:url("./img/febrian-zakaria-sjvU0THccQA-unsplash_493x501.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 0px 0px 10px;
    width:30%;
}
/*Activites*/
#section_activities{
    width:99%;
    margin-left:1%;
}
.container_activities{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    margin-bottom:3%;
    height:500px;
}
.container_activities div{
    margin-right:1%;
}

.cadre_vieux_port{
    background-image:url("./img/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    height:450px;
}

.parent_cadre{
    box-shadow: 5px 3px 5px #F2F2F2; 
    border-radius: 10px 10px 10px 10px;
    height:47%;
}

.cadre_fort_pomegues{
    height:100%;
    width:24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cadre_garde_parc{
    height:100%;
    width:24%;
    margin-right:0px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pomegues{
    height:80%;
    background-image:url("./img/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.frioul{
    height:80%;
    background-image:url("./img/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.cadre_calanques{
    background-image:url("./img/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    height:450px;
}

.cadre_activities{
    width:24%;
    background-color:white;
    height:500px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 3px 5px #F2F2F2; 
}
.notre_dame{
    background-image:url("./img/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height:80%;
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.longchamp{
    background-image:url("./img/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height:80%;
    background-size:cover;
    background-position:center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 5px #F2F2F2;

}

/*footer*/
.container_footer{
    display:flex;
    justify-content:space-around;
}

footer{
    background-color:#F2F2F2;
    line-height: 40px;
}
#footer a{
    color:#212529;
    text-decoration:none;
}

#footer ul li{
    list-style-type: none;
    text-decoration:none;
}

#footer ul{
    padding:0px;
}


    @media only screen and (min-width: 769px) {
        #loupe{
            display:none;
        }
    }
    @media only screen and (max-width: 769px) {
        #search{
            display:none;
        }
        #section_filter{
            justify-content:space-around;
            width:100%;
        }
        .container_filter{
            justify-content:space-around;
            width:80%;
        }
        .container_hebergement_populaire{
            flex-direction: column-reverse;
            width:100%;
        }
        .fond_hebergement{
            width:95%;
        }

        #populaires_parent{
            width:100%;
            background-color:white;
            margin-top:5%;
        }

        #section_activities{
            margin-top:5%;
        }
    }
    @media only screen and (max-width: 425px) {
       #section_filter{
            display:block;
            width:100%;
        }
        .container_filter{
            justify-content: space-evenly;
            flex-direction: row;
            width:100%;
            flex-wrap: wrap;
        }

        #marseille{
            flex-direction:column;
            flex-wrap: nowrap;
            height:100%;
        }

        #marseille .cadre{
            height:100%;
            width:100%;
        }

        #navigation {
            flex-direction: column-reverse;
            align-items: flex-end;  
            height:80px;
          }
        
          .container_menu{
              justify-content: space-between;
              flex-direction: column;
          }

        #logo{
            justify-content: flex-start;
            margin-left:1%;
            height:0;
        }

        nav{
            display: flex;
            width:100%;
            justify-content:space-around;
        }

        #recherche #loupe {
            width:12%;
        }

        #populaires_parent{
            background-color:#F2F2F2;
            border-radius:0;
            width:100%;
            margin-bottom:10%;
        }

        .fond_hebergement{
            background-color:white;
            flex-direction: column;
        }

        #section_activities{
            height:2000px;
        }

        .container_activities{
            flex-wrap: nowrap;
            flex-direction: column;
            height:100%;
        }

        .cadre_activities{
            width:100%;
            height:10%;
        }

        .parent_cadre{
            height:50%;
        }

        .cadre_fort_pomegues{
            height:20%;
            width:100%;
        }

        .pomegues{
            height:80%;
        }

        .frioul{
            height:80%;
        }

        .cadre_garde_parc{
            height:20%;
            width:100%;
        }

        .cadre_calanques{
            height:80%;
        }

        .learnmore{
            margin-top:10px;
        }
        .cadre_vieux_port{
            height:80%;
        }

        #recherche button{
            border-radius: 10px 10px 10px 10px;
        }

        .texte h5{
            margin:0;
        }

        .texte p{
            margin-top:0;
        }

        .cadre_soleil, .cadre_hote, .cadre_hotel_bleu{
            width:33%;
        }

        .cadre_image {
            height:30%;
        }

        .container_footer{
            display:block;
        }

    }











